.logo{
    margin: auto;
    width: 50px;
    display: block;
}

body{
    background-image: linear-gradient(black,green);
    height: 100vh;
}

.container{
    margin: auto;
    background-color: red;
    max-width: 955px;
    height: 60vh;
    border: 2px solid black;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: grey;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
float: left;
clear: both;
}

.right{
float: right;
clear:both;
}

/* form button  */
#send-container{
    text-align: center;
    max-width: 985px;
    width:100%;
    display: block;
    margin: auto;
}

.messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

